<div class="content">
    <h1>Main Heading</h1>
    <p>This is a paragraph of text. It explains the content and gives more details about the topic.</p>

    <h2>Subheading Level 2</h2>
    <p>This is another paragraph under the subheading. This paragraph provides further details on the topic.</p>

    <h3>Subheading Level 3</h3>
    <p>More details can be added here with another level of heading to further divide the content.</p>

    <ul>
        <li>First item in the list.</li>
        <li>Second item in the list with more details.</li>
        <li>Third item in the list.</li>
    </ul>

    <a href="#" class="link-button">Click Me!</a>
    
</div>

<router-outlet></router-outlet>
